@import "./keyframes.scss";
@import "./mixins.scss";

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    @include xs {
        padding-bottom: 70px;
    }
}

.logo {
    width: 50%;
    max-width: 155px;
    margin-top: 15px;
    margin-left: -80%;
    @include xs {
        margin-top: 50px;
        width: 50%;
        max-width: 250px;
        margin-left: 0;
    }

    img {
        width: 100%;
    }
}

.button-container {
    width: 85%;
    max-width: 450px;
    @include xs {
        margin-top: 70px;
    }

    .button {
        border-radius: 5px;
        background-color: #000000c2;
        align-items: center;
        justify-content: space-between;
        display: flex;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

        &:first-child {
            margin-bottom: 20px;
        }
    }

    .button-text {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-right: 20px;

        a {
            color: lightgray
        }
    }

    .tile-img {
        max-height: 80px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
}

.booksy-logo {
    height: 35px;
}

.social-media {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;

    @include xs {
        flex-direction: row;
        right: unset;
    }
}