.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 50px;
    width: 60%;

    img {
        width: 100%
    }
}

.button-container {
    width: 70%;
    margin-top: 20px;

    .button {
        padding: 5px;
        border-radius: 5px;
        background-color: #00000080;
        align-items: center;
        justify-content: space-between;
        display: flex;

        &:first-child {
            margin-bottom: 20px;
        }
    }

    .button-text {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-right: 20px;

        a {
            color: lightgray
        }
    }

    .tile-img {
        max-height: 80px;
    }
}

.booksy-logo {
    height: 30px;
}

.social-media {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 20px;
}